
$brand-color: rgb(71,63,236);
//$brand-color-gradient: linear-gradient(276.14deg, $brand-color 0%, rgb(77,72,176) 100%);
$brand-color-gradient: linear-gradient(276.14deg, $brand-color 0%, #4D48AF 100%);
$block-border-radius: 40px;
$black: #303030;
$green: #66D53F;
$orange: #F0BA2E;
$red:#EB4545;

$font-fira: 'Fira Sans', sans-serif;
$font-meri: 'Merriweather', serif;
